body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:10px;
background:#111;
}

.nav-links{
display:flex;
gap:10px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
}

.title{
font-family:'Creepster',cursive;
color:#00aaff;
font-size:32px;
}

.home{
text-align:center;
padding:60px;
}

.drop{
display:none;
padding:10px;
background:#222;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid white;
padding:10px;
text-align:center;
}

.gold{color:gold;}
.silver{color:silver;}
.bronze{color:#cd7f32;}

.cards{
display:flex;
flex-wrap:wrap;
gap:10px;
justify-content:center;
}

.card{
background:#111;
padding:15px;
width:160px;
border-radius:10px;
}

.hidden{display:none;}